<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anagram!</title>
  </head>
  <body>
    <form action="/result" >
      <label for="new-ourWord">Enter First Word Here:</label>
      <input type="text" id="new-ourWord" name="new-ourWord">
      <label for="new-userWord">Enter Second Word Here:</label>
      <input type="text" id="new-userWord" name="new-userWord">
      <button type="submit" name="button">Enter!</button>
    </form>


  </body>
</html>
