<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pong!</title>
  </head>
  <body>
<h1>Your First Input Word : @Model.GetOurWord()</h1>

<h1>Your Second Input Word : @Model.GetUserWord()</h1>

@if(Model.isAnagram()&&!Model.isContainsNum())
{
  <h1>Your words are anagram</h1>
}else if(Model.isContainsNum())
{
  <h1>You type in Number and it is invalid</h1>

}
else
{
  <h1>Your words are not anagram</h1>
}


  </body>
</html>
